include LICENSE
include AUTHORS
include HISTORY.rst
include CONTRIBUTING.rst

include README.rst
include requirements.txt

recursive-include blastplus *
recursive-include docs/build/html *
recursive-include docs/source *

exclude build.sh
