[[source]]

url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"


[packages]

django = ">=2.1.2"
biopython = "==1.73"
urllib3 = ">=1.25.3"

[dev-packages]

twine = "*"
nose = "*"
django-nose = "*"
coverage = "*"
django-webtest = "*"



[requires]

python_version = "3.6"
