[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "==2.2.4"
biopython = "==1.74"
urllib3 = "==1.24.3"
numpy = "==1.17.0"
webtest = "==2.0.33"
coverage = "==4.5.4"
django-webtest = "==1.9.7"

[dev-packages]
twine = "*"
nose = "*"
django-nose = "==1.4.6"
coverage = "*"
django-webtest = "*"

[requires]
python_version = "3.6"
